@import url("http://fonts.googleapis.com/css?family=Bangers");

* { margin:0; padding:0; list-style:none; }

body { background:#ddd; font-family:Helvetica,arial; font-size:85%; }

.content { padding:40px; margin:50px; border:1px solid #999; background:#fff; box-shadow:#999 0 0 10px; border-radius:3px; }
.content h1 { font-size:38px; font-weight:normal; color:#333; letter-spacing:0px; font-family:'Bangers', Arial, Tahoma; }

.teste { margin:0 0 10px 0; }
.debug { }
.debug h2 { margin:0 0 10px 0; font-size:26px; }
.debug p { background:#eee; margin:5px 0 0 0; padding:10px; font-weight:bold; font-size:16px; color:#004499; border-radius:2px; }
.debug p:nth-child(even) { background:#e7e7e7; }
.clear { clear:both; }